* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region utility */

.debug {
    background-color: indigo;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex_reverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.flex_column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.center {
    justify-content: center;
}

.align_end {
    text-align: end;
}

.row {
    width: 100%;
    margin: auto;
}

.col {
    width: 210px;
    position: relative;
    /* Prova a mettere una larghezza fissa sulla colonna */
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_4 {
    width: calc((100% / 12) * 4);
}

.col_6 {
    width: calc((100% / 12) * 6);
}

.col_8 {
    width: calc((100% / 12) * 8);
}

.col_12 {
    width: calc((100% / 12) * 12);
}

/* #endregion utility */

#site_header {
    height: 35px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: end;
}

.view_mode,
.fullscreen {
    background-color: #4a4a4a;
    margin: 5px;
    padding: 4px 0;
    vertical-align: middle;
    border-radius: 5px;
}

.fa {
    padding: 8px;
}

#site_main {
    width: 100%;
    height: 88vh;
    background-color: black;
}

.box {
    height: 800px;
    width: 1500px;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    height: 100%;
    max-width: 100%;
    padding: 5px;
}

.id_badge {
    position: absolute;
    left: 5px;
    bottom: 12px;
    color: white;
    padding: 4px;
    background-color: rgba(65, 65, 65, 0.616);
}

#site_footer {
    height: 77px;
    width: 100%;
    background-color: #222222;
    color: white;
}

.fa-microphone-lines {
    font-size: 30px;
    margin: 15px 15px 0 15px;
}

.text {
    margin: 5px 10px;
}

.fa-angle-up {
    font-size: 15px;
    margin-top: 30px;
}

.fa-video {
    font-size: 30px;
    margin: 15px 15px 0 30px;
}
















.end{
    background-color: gray;
    color: red;
    padding: 29px 20px;
}