* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region utility */

.debug {
    background-color: indigo;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.col_2 {
    width: calc((100% / 14)* 2);
}

/* #endregion utility */

.viewport {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.container {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

img {
    height: 80%;
    max-width: 100%;
}